.form_adhesion{
  width:80%;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap:10%;

}
/*** Grid ***/
#p_cours{
  grid-column-start: 2;
}
#p_nombre_cours{
  grid-column-start: 4;
}
#blue_radio1{
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 3;
  background-color: #078399;
  box-sizing: border-box;
  border-radius:10px;
  text-align: center;
}
#blue_radio2{
  grid-column-start: 4;
  grid-row-start: 2;
  grid-column-end: 5;
  background-color: #078399;
  box-sizing: border-box;
  border-radius:10px;
  text-align: center;
}
#orange_radio1{
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 3;
  background-color: #D37217;
  box-sizing: border-box;
  border-radius:10px;
  text-align: center;
}
#orange_radio2{
  grid-column-start: 4;
  grid-row-start: 3;
  grid-column-end: 5;
  background-color: #D37217;
  box-sizing: border-box;
  border-radius:10px;
  text-align: center;
}
#reductions_radio{
  grid-column-start: 2;
  grid-row-start: 4;
  grid-column-end: 3;
}
#adherent_radio{
  grid-column-start: 3;
  grid-row-start: 4;
  grid-column-end: 4;
}
#paiement_radio{
  grid-column-start: 4;
  grid-row-start: 4;
  grid-column-end: 5;
}
#btn_adhesion{
  grid-column-start: 3;
  grid-row-start: 5;
  grid-column-end: 4;
}
/******************************/
.form_adhesion p{
  color: #D37217;
}
.blue_radio input[type="radio"]{
  -webkit-appearance: none;
}
.orange_radio input[type="radio"]{
  -webkit-appearance: none;
}
.blue_radio label{
  color:white;
  padding:4%;
  border-radius:10px;
  display: inline-block;
}

.orange_radio label{
  color:white;
  padding:4%;
  border-radius:10px;
  display: inline-block;
}
/************ Modal *****************/
.modal{
  width:100% !important;
  max-width:60% !important;
}
.modal_flex{
  display: flex;
  flex-direction: row;
  padding:10%;
}
#modal_justificatif h1{
  font-size:30px;
  padding-top:5%;
}
.Add_doc_adhesion i{
  font-size:40px;
  color: #D37217;
}
