.form_connexion{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width:60%;
  margin:5% 25% 5% 25%;
}
.form_connexion .button_pages{
  width:20%;
  margin: 1% 25% 1% 25%;
}
.label_input{
  margin:2%;
}

label{
  width:40%;
  display:inline-block;
}

input{
  width:30%;
  padding:2% 5% 2% 5%;
  border: solid 2px #C8C8D1;
  border-radius: 5px;
}

::placeholder{
  color:#D37217;
  opacity:0.5;
}
