header{
  z-index:2;
  opacity: 0.8;
  position:relative;
}
.nav_header ul{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding:2%;
  background-color: black;
}
.nav_header a{
  color:white;
  opacity:1;
  transition:opacity .3s;
}
.nav_header a:hover{
  opacity:0.8;
}

.img_header .img_index{
  height: 60vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
}
