.img_index{
  background: url("../img/img_accueil.jpg") no-repeat center;
  height:100vh;
  width: 100%;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 76%);
  position:absolute;
  top:0;
}

/******************** Apparence des textes *******************/
.text_index{
  position: relative;
  top:100vh; /* Affiche le texte sous l'image */
  text-align: center;
}
.h1_index{
  color:#D37217;
  font-weight: bold;
  font-size:30px;
}
.text{
  font-size:20px;
  line-height: 1.8em;
}

/******************** Apparence des boutons *******************/
.button_inscription{

}
