/****************************** Mes informations ****************************/
.h2_compte{
  color:#078399;
  font-size:25px;
  margin:5%;
}
.liste_compte{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width:80%;
  margin:auto;
}
.a_compte{
  color: #D37217;
  text-decoration: underline;
}
.a_compte:hover{
  text-decoration: none;
}

/*** Photo / Inscription annuelle / Justificatif ***/
.elements_compte{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:5% 12% 5% 15%;
}
.elements_compte i{
  font-size: 50px;
  color: #D37217;
  margin:15% 10% 2% 10%;
}
.elements_compte .p_justificatif{
  margin: 1% 0;
  font-size:15px;
  color: #C8C8D1;
}
.user_picture{
  width:40%;
  border-radius: 50%;
  margin-left:20%;
}
.elements_compte .col{
  display: flex;
  flex-direction:column;
  width:30%;
}

/****************************** Adhésion ****************************/
.form_adhesion{
  border:1px solid lightgrey;
  width:80%;
  margin:auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
/*** Grid ***/
#p_cours{
  grid-column-start: 2;

}
#p_nombre_cours{
  grid-column-start: 4;
}
#blue_radio1{
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 3;
}
#blue_radio2{
  grid-column-start: 4;
  grid-row-start: 2;
  grid-column-end: 5;
}
#orange_radio1{
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 3;
}
#orange_radio2{
  grid-column-start: 4;
  grid-row-start: 3;
  grid-column-end: 5;
}
#reductions_radio{
  grid-column-start: 2;
  grid-row-start: 4;
  grid-column-end: 3;
}
#adherent_radio{
  grid-column-start: 3;
  grid-row-start: 4;
  grid-column-end: 4;
}
#paiement_radio{
  grid-column-start: 4;
  grid-row-start: 4;
  grid-column-end: 5;
}
#btn_adhesion{
  grid-column-start: 3;
  grid-row-start: 5;
  grid-column-end: 4;
}

.form_adhesion p{
  color: #D37217;
}
.blue_radio input[type="radio"]{
  -webkit-appearance: none;
}
.orange_radio input[type="radio"]{
  -webkit-appearance: none;
}
.blue_radio input[type="radio"]:checked + label{
  background-color: #044D59;
}
.orange_radio input[type="radio"]:checked + label{
  background-color: #945010;
}

.blue_radio label{
  background-color:#078399;
  color:white;
  padding:4%;
  border-radius:10px;
  display: inline-block;

}

.orange_radio label{
  background-color:#D37217;
  color:white;
  padding:4%;
  border-radius:10px;
  display: inline-block;

}



/**** Bas du formulaire ***/
.bottom_form_adhesion{

}
.bottom_form_adhesion div{

}
