.h2_compte{
  color:#078399;
  font-size:25px;
  margin:5%;
}
.liste_compte{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width:80%;
  margin:auto;
}
.a_compte{
  color: #D37217;
  text-decoration: underline;
}
.a_compte:hover{
  text-decoration: none;
}

/*** Photo / Inscription annuelle / Justificatif ***/
.elements_compte{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.user_picture{
  display: block;
  width:20%;
  border-radius: 50%;
}
