*{
  margin:0;
  padding:0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
}

a{
  color:black;
}

p{
  margin:2%;
}

button{
  border:none;
  border-radius:8px;
  padding:2% 4% 2% 4%;
}

textarea:focus, input:focus{
    outline: none;
}
