/************ Présentation de l'association ***********/
#presentation_association h2{
  margin-top:2%;
  margin-bottom:10%;
  font-weight:bold;
}
#presentation_association p{
  margin:2%;
  text-align: justify;
  line-height: 1.8em;
}

/************ Présentation des profs ***********/
#presentation_profs img{
  width:100%;
}
#presentation_profs h3{
  font-size:30px;
  font-weight: bold;
  color: #AE2B2B;
  font-family: 'Amatic SC', cursive;
  text-align: center;
}
#presentation_profs p{
  text-align: justify;
  line-height: 1.8em;
}
