#presentation_association{
  margin:10%;
}
#presentation_association h2{
  margin-top:2%;
  margin-bottom:10%;
}
#presentation_association p{
  margin:2%;
  text-align: center;
  line-height: 1.8em;
}
