/************ Présentation de l'association ***********/
#presentation_association{
  margin: 0 10% 10% 10%;
}
#presentation_association h2{
  margin-top:2%;
  margin-bottom:10%;
  font-weight:bold;
}
#presentation_association p{
  margin:2%;
  text-align: center;
  line-height: 1.8em;
}

/************ Présentation des profs ***********/
#presentation_profs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#presentation_profs img{
  display: block;
  width:20%;
  max-height: 400px;
}
#presentation_profs h3{
  font-size:30px;
  font-weight: bold;
  color: #AE2B2B;
  font-family: 'Amatic SC', cursive;
  text-align: center;
}
#presentation_profs p{
  text-align: justify;
  line-height: 1.5em;
}
.articles_profs{
  width:20%;
}
