.scale-cours1, .scale-cours2, .scale-cours3 {
  background-color: white !important;
  color:black !important;
}

.course_trigger{
  height:150px;
  width:150px;
}

.course_trigger:hover{
  filter:brightness(110%);
  cursor:pointer;
}

.btn-large{
  text-transform: none !important;
}

.btn-large:hover {
  filter:brightness(110%);
}
