/**** Couleurs principales ****/
.text_orange{
  color: #D37217 !important;
}
.text_red{
  color: #4F0A0A !important;
}
.text_green{
  color: #41C941;
}
.background-orange{
  background-color: #f0ad4e !important;
}
.background-blue{
  background-color: #078399 !important;
}

/* Mise en forme modal */
.modal{
  max-width:60% !important;
  max-height:80% !important;
}
.modal h1{
  font-size:20px !important;
  padding-top:5%;
  margin: 0 !important;
}

.justify{
  text-align: justify;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.space-around{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.p-5{
  padding:5%;
}

.p-10{
  padding:10%;
}

.px-5{
  padding : 0 5%;
}

.m-top-5{
  margin-top: 5%;
}

.hidden{
  visibility: hidden;
}

.font-size-16{
  font-size: 16px !important;
}

.font-size-18{
  font-size: 18px !important;
}

.font-size-20{
  font-size: 20px !important;
}

.font-size-25{
  font-size: 25px !important;
}

.font-size-30{
  font-size: 30px !important;
}

.bold{
  font-weight:bold !important;
}
