footer{
  position: relative;
  top:60vh; /* Affiche le footer sous le contenu de la page */
  background-color: #ECEBE6;
  padding:15% 10% 5% 10%;
  clip-path: polygon(0 0, 100% 54%, 100% 100%, 0% 100%);
}

footer li{
  font-size: 20px;
}

footer i{
  font-size: 40px;
  margin-right:5%;
  margin-top:5%;
}

footer > h2{
  text-align: left;
  font-weight: normal;
  margin: 0 !important;
}

footer a{
  color: black !important;
}

.container_footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ul_contact{
  margin-top:2%;
}
