.h1_form{
  margin-bottom: 10%;
}
.form_connexion{
  display: flex;
  flex-direction: column;
  width:60%;
  margin:auto;
}
.form_connexion .button_pages{
  max-width:30%;
  margin: 5% auto;
}
.label_input{
  margin:1%;
}

.form_connexion label{
  width:40%;
  display:inline-block;
}

.form_connexion input{
  width:40%;
  padding:2% 5% 2% 5%;
  border: solid 2px #C8C8D1;
  border-radius: 10px;
}

::placeholder{
  color:#D37217;
  opacity:0.5;
}

.link_inscription{
  font-weight: bold;
  color: #078399;
}
.p_inscription{
 margin-top:0;
}
.center{
  text-align: center;
}
.p_facultatif{
  font-size:15px;
}
