/****************************** Mes informations ****************************/
.h2_compte{
  color:#078399;
  font-size:25px;
  margin:5%;
}
.liste_compte{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width:80%;
  margin:auto;
}
.a_compte{
  color: #D37217;
  text-decoration: underline;
}
.a_compte:hover{
  text-decoration: none;
}

/*** Photo / Inscription annuelle / Justificatif ***/
.elements_compte{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:5% 12% 5% 15%;
}
.elements_compte i{
  font-size: 50px;
  color: #D37217;
  margin:15% 10% 2% 10%;
}
.elements_compte .p_justificatif{
  margin: 1% 0;
  font-size:15px;
  color: #C8C8D1;
}
.user_picture{
  width:40%;
  border-radius: 50%;
  margin-left:20%;
}

.elements_compte .col{
  display: flex;
  flex-direction:column;
  width:30%;
}
