#planning{
	border:2px solid lightgrey !important;
}
#planning > thead > tr > th{
	border-right: 2px solid lightgrey !important;
}
#planning > tbody > tr > td{
	border-right: 2px solid lightgrey !important;
	min-width:150px !important;
}
#planning > thead > tr{
	border:none !important;
}
#planning > tbody > tr{
	border:none !important;
}

/**** CSS des cours ***/
#planning{
	margin:0 auto !important;
	width:60%;
}
.course{
	height:60px;
	width:150px
}
.blue_course{
	background-color: #24BBC5;
}

.yellow_course{
	background-color: #FFD02E;
}

.green_course{
	background-color: #8FC552;
}

.orange_course{
	background-color: #ED823A;
}

/** CSS Gestion des membres **/
.user_picture_mini{
  width:60%;
  border-radius: 50%;
}
.td_size{
	width:10%;
}

.table_formule.highlight>tbody>tr:hover {
  background-color: lightgrey !important;
}
