table{
	border:2px solid lightgrey !important;
}
th{
	border-right: 2px solid lightgrey !important;
}
td{
	border-right: 2px solid lightgrey !important;
}
tr{
	border:none !important;
}

/**** CSS des cours ***/
.course{
	height:60px;
	width:150px
}
.blue_course{
	background-color: #24BBC5;
}

.yellow_course{
	background-color: #FFD02E;
}

.green_course{
	background-color: #8FC552;
}

.orange_course{
	background-color: #ED823A;
}
